*.gcda
*.gcno
coverage
log.err
Makefile
build
src/config.h
examples/coro_io
examples/events
examples/mem_pools
examples/mem_timing
examples/types
examples/abort
examples/cpp_test
examples/threads
src/zt_common.h
src/zt_replace.h
tests/unit_test
tools/libzt.pc
tools/project.spec
tests/log.err
project.list
cmake_install.cmake
tools/libzt_gc.pc
tools/libzt_unit.pc

# CMAKE cruft
CMakeFiles
CMakeCache.txt

# UNIX cruft
*.o
*.lo
*.la
*.so
*.dylib
tags
*.deps
*.libs
.*.sw*

# windows cruft
*.exe
*.exe.*
*.ilk
*.pdb
*.suo
examples/base64_speed
examples/hexdump
examples/log_syslog
src/zt_config.h

CTestTestfile.cmake
.build/
Testing/
examples/gc
examples/opts
src/libzt/zt_config.h
src/libzt/zt_replace.h
tests/Testing/
