*.gcda
*.gcno
coverage
log.err
Makefile
build
src/config.h
examples/coro_io
examples/events
examples/mem_pools
examples/mem_timing
examples/types
examples/abort
examples/cpp_test
examples/threads
src/zt_common.h
src/zt_replace.h
tests/unit_test
tools/libzt.pc
tools/project.spec
tests/log.err
*.o
*.lo
*.la
*.so
*.dylib
tags
*.deps
*.libs
project.list
CMakeFiles
CMakeCache.txt
cmake_install.cmake
tools/libzt_gc.pc
tools/libzt_unit.pc
